staticfiles/*
media/*
static/*
back_media/*
back_static/*
media/
static/
.idea/*
celerybeat-schedule
.env
**/migrations/00*.py
.venv/*
venv/*
db.sqlite3/
.idea/
venv/
*.pyc
*.mo
storage/
.vscode/
errors.log
warnings.log